<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通設定（head）を呼び出す -->
<head th:replace="common/common :: head('日付計算アプリtop',~{::link},~{::script})">
</head>
<body>
	<!-- 共通部品（header）を呼び出す -->
	<div th:replace="common/header :: header"></div>
	
	<!-- 基準日＋計算式登録画面へ -->
	<div class="container mt-4 d-flex justify-content-between">
	     <!-- 基準日 -->
	     <form method="post" th:action="@{/calc}">
			<label>基準となる日付<input type="date" class="form-control"
				name="inputdate" value="2020-01-01" max="9999-12-31" required>
			</label> <br>
			<button>計算実行</button>
			<br>
		</form>
		<!-- 計算式登録画面へ -->
		<a th:href="@{/register}">
			<button type="button" class="btn btn-primary">計算式の新規登録へ</button>
		</a>
	</div>

	<!-- 選択された基準日を表示 -->
	<div class="container py-3">
		<p th:if="${inputdate} == null"  class="text-danger">（選択された基準となる日付はここに表示されます）</p>
		<p th:unless="${inputdate} == null">
			（入力した日付は<span th:text="${inputdate}"  class="text-danger"></span>）
		</p>
	</div>

	<!-- テーブル表示 -->
	<div class="container">
		<table class="table table-bordered table-sm">
			<thead class="thead-light">
				<tr>
					<th scope="col">計算式ID</th>
					<th scope="col">計算式名</th>
					<th scope="col">加減年</th>
					<th scope="col">加減月</th>
					<th scope="col">加減日</th>
					<th scope="col">計算結果(map)</th>
					<th scope="col">更新ボタン</th>
					<th scope="col">削除ボタン</th>
				</tr>
			</thead>

			<tbody th:each="dateCalc:${dateCalc}" th:object="${dateCalc}">
				<tr>
					<td scope="row" th:text="*{id}"></td>
					<td th:text="*{name}"></td>
					<td th:text="*{plusyear}"></td>
					<td th:text="*{plusmonth}"></td>
					<td th:text="*{plusday}"></td>
					<td th:text="${resultdateMap.get(__*{id}__)}"></td>
					<td><a th:href="@{/update/id={id}(id=*{id})}">
							<button type="button" class="btn btn-primary">更新</button>
					</a></td>
					<td>
						<form method="post" th:action="@{/delete/id={id}(id=*{id})}">
							<button class="btn btn-danger">削除</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		<table class="table table-sm">
			<thead class="thead-dark">
				<tr>
					<th scope="col">計算結果(配列)</th>
				</tr>
			</thead>
			<tbody th:each="resultdateArray:${resultdateArray}">
				<tr>
					<td th:text="${resultdateArray}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>