<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 共通設定（head）を呼び出す -->
<head th:replace="common/common :: head('日付計算アプリupdate',~{::link},~{::script})">
</head>
<body>
	<!-- 共通部品（header）を呼び出す -->
	<div th:replace="common/header :: header"></div>

	<!-- 見出し -->
	<nav class="container nav py-3">
		<a class="nav-link disabled" href="#">更新後の加減算式を入力してください(update.html)</a>
		<a class="nav-link active" th:href="@{/top}">戻る</a>
	</nav>

	<div class="container">
		<form method="post" th:action="@{/update/id={id}(id=*{id})}"
			th:object="${dateCalc}">
			<table class="table table-bordered table-sm">
				<thead class="thead-light">
					<tr>
						<th scope="col">計算式ID</th>
						<th scope="col">計算式名</th>
						<th scope="col">加減年</th>
						<th scope="col">加減月</th>
						<th scope="col">加減日</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td scope="row">
							<p>
								計算式ID：<span border="1" th:text="*{id}"></span>
							</p>
						</td>
						<td><input class="form-control" type="text" th:field="*{name}" placeholder="任意の文字"><br>
							<span class="form-error" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}"></span></td>

						<td><input class="form-control" type="text" th:field="*{plusyear}"
							placeholder="半角数字"><br> <span class="form-error"
							th:if="${#fields.hasErrors('plusyear')}">入力値エラー</span></td>

						<td><input class="form-control" type="text" th:field="*{plusmonth}"
							placeholder="半角数字"><br> <span class="form-error"
							th:if="${#fields.hasErrors('plusmonth')}">入力値エラー</span></td>

						<td><input class="form-control" type="text" th:field="*{plusday}"
							placeholder="半角数字"><br> <span class="form-error"
							th:if="${#fields.hasErrors('plusday')}">入力値エラー</span></td>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-primary">更新</button>
		</form>
	</div>
</body>
</html>